[user]
	name = ForeignLab.AI
	email = foreignlab.ai@gmail.com
[core]
	excludesfile = /Users/foreignlab/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/foreignlab/.stCommitMsg
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[url "git@github-work:aeonnext/"]
  insteadOf = https://github.com/aeonnext/

[ghq]
  root = ~/ghq

[ghq "https://github.com/aeonnext/"]
  root = ~/ghq-work

[url "https://github.com/"]
  insteadOf = git@github.com:
  insteadOf = ssh://git@github.com/

# aeonnext 配下のリポでは仕事用 identity（user.name/email）を自動適用
[includeIf "gitdir:~/Documents/ghq-work/github.com/aeonnext/"]
  path = ~/.gitconfig-aeonnext
